body {
  padding-top: 40px;
  color: #000;
}

pre {
  color: #0e0;
  background-color: #444;
}

h1 {
  font-size: 40px;
  padding: 10px 0px;
}

h2 {
  font-size: 30px;
}

h2 small {
  color: #4896b0;
}

h3 {
  font-size: 20px;
  padding: 5px;
}

img {
  padding: 5px;
}

.centered {
  text-align: center;
}

.rainbow {
  text-shadow: 2px 2px 0px #666;
}
