body {
  background-color: rgb(20,40,65);
  font-family: Ubuntu, Helvetica, sans-serif;
  color: rgb(200,220,235);
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#logo {
  max-width: 600px;
  margin: auto;
}

#content {
  max-width: 600px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

#harry-potter {
  max-width: 600px;
  margin: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#harry-potter h1 {
  color: #0a9c8b;
  text-shadow: #734eff 5px 5px;
  font-size: 42px;
  z-index: 1;
  position: relative;
  padding: 0px 0px;
  margin: 0px 0px;
  left: 120px;
  top: 320px;
  width: 350px;
}

#harry-potter img {
  position: relative;
  left: 0px;
  top: 0px;
  padding: 0px 0px;
  margin: 0px 0px;
}

h1, h2, h3, h4 {
  color: rgb(230,182,91);
}

a:link,
a:visited {
  color: rgb(90,140,230);
  text-decoration: none;
}

a:hover {
  color: rgb(230,182,91);
}

ul {
  list-style-image: url(/img/fireball.png);
}

li {
  margin-bottom: 1em;
}

code {
  color: rgb(230,182,91);
  font-family: monospace;
  border-width: 0px;
  background-color: transparent;
}

pre {
  border-color: rgb(90,140,230);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
    
  width: 600px;
  padding: 5px;
    
  color: rgb(200,220,235);
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
    
  font-family: monospace;
  font-size: 1.2em;
    
  background-color: rgb(20,30,49);
}

pre code {
  color: rgb(200,220,235);
}

input[type='text'] {
  border-color: rgb(90,140,230);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: rgb(20,40,65);
  color: rgb(230,182,91);
}

input[type='submit'] {
  background-color: rgb(230,182,91);
  border: 0;
  border-radius: 5px;
}