<!doctype html>
<html>
  <head>
    <title>Browserify-CDN</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="logo">
      <img src="/img/browserify.png">
    </div>
    <div id="content">
      {{{readme}}}
    </div>
    <div id="harry-potter">
      <h1>BASICALLY IT'S PRETTY SWEET.</h1>
      <img src="/img/hp.png">
    </div>
  </body>
</html>
