<!doctype html>
<html>
  <head>
    <title>Browserify-CDN</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript">
      window.onload = function(){
        document.getElementById('url-generator').onsubmit = function() {
          module = this.elements["module"].value
          ver = this.elements["ver"].value
          path = "https://wzrd.in/standalone/" + module + "@" + ver
          link = document.createElement('a')
          link.href = path
          link.target = '_blank'
          link.click()
          return false
        }
      }
    </script>
  </head>
  <body>
    <div id="logo">
      <img src="/img/browserify.png">
    </div>
    <div id="content">
      {{{readme}}}
    </div>
    <div id="harry-potter">
      <h1>BASICALLY IT'S PRETTY SWEET.</h1>
      <img src="/img/hp.png">
    </div>
  </body>
</html>
